<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>WorldOfMusic</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
html, body {
	width: 100%;
}

body {
	text-align: center;
}

table {
	margin: 0 auto;
}

input[type="number"] {
	width: 40px;
}
.error {
	color: red;
}
</style>
</head>
<body>
	<h1>Welcome at WorldOfMusic!</h1>
	<h2>Browse our music library</h2>
	<div>
		<form action="#" th:action="@{/}" th:object="${userRequest}"
			method="post">
			<p>
				Get me a list of releases with more than <input type="number"
					th:value="10" th:field="*{lowerBound}" /> tracks and a release date
				before <input type="date" value="01/01/2001" th:field="*{before}" />!
			</p>
			<p th:if="${#fields.hasErrors('lowerBound')}"
				th:errors="*{lowerBound}" class="error">Incorrect number format</p>
			<input type="submit" value="Submit" />
		</form>
		<table>
			<tr>
				<th>Name</th>
				<th>Tracks</th>
			</tr>
			<th:block th:each="release : ${releases}">
				<tr>
					<td th:text="${release.name}">test name</td>
					<td th:text="${release.trackCount}">test name</td>
				</tr>
			</th:block>
		</table>
	</div>
</body>
</html>